.nav {
	padding: 16px 0;
	&__container {
	}
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
	}
	&__link {
		font-weight: 400;
		font-size: 15px;
		line-height: 148%;
		color: var(--black-color);
		&:hover {
			.nav__arrow {
				transform: rotate(180deg);
			}
		}
	}
	&__arrow {
		margin-left: 3px;
		margin-bottom: -1px;
		transition: transform 0.4s ease-in-out;
	}
}
