.production {
	&__container {
		padding-top: 80px;
		padding-bottom: 80px;
		display: flex;
		justify-content: space-between;
	}
	&__side {
		&-right {
			display: flex;
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: 24px;
		color: var(--dark-blue-color);
		font-feature-settings: "pnum" on, "lnum" on;
		font-weight: 600;
		font-size: 29px;
		line-height: 116%;
	}
	&__subtitle {
		display: flex;
		align-items: center;
		&-text {
			color: var(--black-80-color);
			font-weight: 400;
			font-size: 15px;
			line-height: 148%;
			font-feature-settings: "pnum" on, "lnum" on;
		}
	}
	&__arrow {
		transform: rotate(-90deg);
		margin-top: 4px;
	}
	&__list {
		padding-left: 16px;
		border-left: 1px solid var(--grey-30-color);
		&:not(:last-child) {
			margin-right: 40px;
		}
		max-width: 200px;
		& li:not(:last-of-type) {
			margin-bottom: 18px;
		}
	}
	&__item {
		color: var(--black-80-color);
		font-size: 17px;
		line-height: 158%;
		font-feature-settings: "pnum" on, "lnum" on;
	}
}
