<section class="achievements">
	<div class="container achievements__container">
		<h3 class="achievements__title">
			Компания Polair™ — крупнейший российский производитель <br />
			профессионального холодильного оборудования с широким <br />
			ассортиментом и покупателями более чем в 20 странах.
		</h3>
		<ul class="list-reset achievements__list">
			<li class="achievements__item">
				<div class="achievements__item-top">
					>200<span class="achievements__text-lower"> млн $</span>
				</div>
				<div class="achievements__item-bottom">
					годовой оборот группы
				</div>
				<img
					loading="lazy"
					src="./img/romb.svg"
					class="image achievements__icon"
					width="94"
					height="96"
					alt="Иконка ромба"
				/>
			</li>
			<li class="achievements__item">
				<div class="achievements__item-top">
					~2650 <span class="achievements__text-lower"></span>
				</div>
				<div class="achievements__item-bottom">
					численность сотрудников
				</div>
				<img
					loading="lazy"
					src="./img/dark-heart.svg"
					class="image achievements__icon"
					width="85"
					height="80"
					alt="Иконка сердца"
				/>
			</li>
			<li class="achievements__item">
				<div class="achievements__item-top">
					~180<span class="achievements__text-lower"> тыс м2</span>
				</div>
				<div class="achievements__item-bottom">
					производственные площади
				</div>
				<img
					loading="lazy"
					src="./img/round.svg"
					class="image achievements__icon"
					width="81"
					height="80"
					alt="Иконка круга"
				/>
			</li>
			<li class="achievements__item">
				<div class="achievements__item-top">
					>20 <span class="achievements__text-lower"></span>
				</div>
				<div class="achievements__item-bottom">
					стран в географии продаж
				</div>
				<img
					loading="lazy"
					src="./img/diamond.svg"
					class="image achievements__icon"
					width="89"
					height="71"
					alt="Иконка алмаза"
				/>
			</li>
		</ul>
	</div>
</section>
