<header class="header">
	<div class="container header__container">
		<div class="header__side-left">
			<img
				loading="lazy"
				src="./img/logo.png"
				class="image header__logo"
				width="202"
				height="32"
				alt="Логотип компании"
				tabindex="0"
			/>
			<h5 class="header__title">
				Профессиональное оборудование для предприятий <br />
				общественного питания и торговли
			</h5>
		</div>
		<div class="header__side-right">
			<button class="btn-reset header__button">
				<img
					loading="lazy"
					src="./img/mail.svg"
					class="image header__mail"
					width="17"
					height="14"
					alt="Иконка письма"
				/>
				Обратная связь
			</button>
			<a class="header__language" href="/?lang=en">Eng</a>
			<button class="btn-reset header__search">
				<img
					loading="lazy"
					src="./img/search.svg"
					class="image"
					width="18"
					height="18"
					alt="Иконка лупы"
				/>
			</button>
		</div>
	</div>
</header>
