<section class="hero">
	<div class="container hero__container">
		<div class="hero__slider">
			<div class="swiper-wrapper hero__slides">
				<div class="swiper-slide hero__slide">
					<div class="hero__side-left">
						<ul class="list-reset hero__icons">
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/temperature.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка температуры"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/drop.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка капель воды"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/cooler.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка вентилятора"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/pressure.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка давления"
								/>
							</li>
						</ul>
						<h2 class="hero__title">
							Специальные цены на популярные модели
							фармацевтических шкафов
						</h2>
						<h4 class="hero__subtitle">
							Снижаем цены ради высоких возможностей
						</h4>
						<button class="btn-reset hero__button">
							Подробнее
						</button>
					</div>
					<div class="hero__side-right">
						<img
							loading="lazy"
							src="./img/slider_image.png"
							class="image hero__image"
							width="588"
							height="440"
							alt="Изображения слайда"
						/>
					</div>
				</div>
				<div class="swiper-slide hero__slide">
					<div class="hero__side-left">
						<ul class="list-reset hero__icons">
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/temperature.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка температуры"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/drop.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка капель воды"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/cooler.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка вентилятора"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/pressure.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка давления"
								/>
							</li>
						</ul>
						<h2 class="hero__title">
							Специальные цены на популярные модели
							фармацевтических шкафов
						</h2>
						<h4 class="hero__subtitle">
							Снижаем цены ради высоких возможностей
						</h4>
						<button class="btn-reset hero__button">
							Подробнее
						</button>
					</div>
					<div class="hero__side-right">
						<img
							loading="lazy"
							src="./img/slider_image.png"
							class="image hero__image"
							width="588"
							height="440"
							alt="Изображения слайда"
						/>
					</div>
				</div>
				<div class="swiper-slide hero__slide">
					<div class="hero__side-left">
						<ul class="list-reset hero__icons">
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/temperature.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка температуры"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/drop.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка капель воды"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/cooler.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка вентилятора"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/pressure.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка давления"
								/>
							</li>
						</ul>
						<h2 class="hero__title">
							Специальные цены на популярные модели
							фармацевтических шкафов
						</h2>
						<h4 class="hero__subtitle">
							Снижаем цены ради высоких возможностей
						</h4>
						<button class="btn-reset hero__button">
							Подробнее
						</button>
					</div>
					<div class="hero__side-right">
						<img
							loading="lazy"
							src="./img/slider_image.png"
							class="image hero__image"
							width="588"
							height="440"
							alt="Изображения слайда"
						/>
					</div>
				</div>
				<div class="swiper-slide hero__slide">
					<div class="hero__side-left">
						<ul class="list-reset hero__icons">
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/temperature.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка температуры"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/drop.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка капель воды"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/cooler.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка вентилятора"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/pressure.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка давления"
								/>
							</li>
						</ul>
						<h2 class="hero__title">
							Специальные цены на популярные модели
							фармацевтических шкафов
						</h2>
						<h4 class="hero__subtitle">
							Снижаем цены ради высоких возможностей
						</h4>
						<button class="btn-reset hero__button">
							Подробнее
						</button>
					</div>
					<div class="hero__side-right">
						<img
							loading="lazy"
							src="./img/slider_image.png"
							class="image hero__image"
							width="588"
							height="440"
							alt="Изображения слайда"
						/>
					</div>
				</div>
				<div class="swiper-slide hero__slide">
					<div class="hero__side-left">
						<ul class="list-reset hero__icons">
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/temperature.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка температуры"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/drop.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка капель воды"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/cooler.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка вентилятора"
								/>
							</li>
							<li class="hero__icon">
								<img
									loading="lazy"
									src="./img/pressure.svg"
									class="image"
									width="41"
									height="41"
									alt="Иконка давления"
								/>
							</li>
						</ul>
						<h2 class="hero__title">
							Специальные цены на популярные модели
							фармацевтических шкафов
						</h2>
						<h4 class="hero__subtitle">
							Снижаем цены ради высоких возможностей
						</h4>
						<button class="btn-reset hero__button">
							Подробнее
						</button>
					</div>
					<div class="hero__side-right">
						<img
							loading="lazy"
							src="./img/slider_image.png"
							class="image hero__image"
							width="588"
							height="440"
							alt="Изображения слайда"
						/>
					</div>
				</div>
			</div>
			<ul class="list-reset hero__pagination"></ul>
		</div>
	</div>
</section>
