<nav class="nav">
	<div class="container nav__container">
		<ul class="list-reset nav__list">
			<li class="nav__item">
				<a href="#" class="nav__link"
					>Продукция<img
						loading="lazy"
						src="./img/arrow.svg"
						class="image nav__arrow"
						width="12"
						height="13"
						alt="Иконка стрелки вниз"
					/>
				</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Где купить</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">
					Сервис и поддержка<img
						loading="lazy"
						src="./img/arrow.svg"
						class="image nav__arrow"
						width="12"
						height="13"
						alt="Иконка стрелки вниз"
				/></a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Решения</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">О компании</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Медиа</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Новости</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">Контакты</a>
			</li>
		</ul>
	</div>
</nav>
