<section class="production">
	<div class="container production__container">
		<div class="production__side-left">
			<h2 class="production__title">Продукция</h2>
			<a href="#" class="production__subtitle"
				><span class="production__subtitle-text"
					>Перейти в каталог</span
				>
				<img
					loading="lazy"
					src="./img/arrow.svg"
					class="image production__arrow"
					width="12"
					height="13"
					alt="Иконка стрелки"
			/></a>
		</div>
		<div class="production__side-right">
			<ul class="list-reset production__list">
				<li class="production__item">Решения для Dark Store</li>
				<li class="production__item">Шкафы холодильные</li>
				<li class="production__item">Шоковая заморозка</li>
				<li class="production__item">Шкафы для вызревания</li>
			</ul>
			<ul class="list-reset production__list">
				<li class="production__item">Шкафы медицинские</li>
				<li class="production__item">Оборудование для пекарен</li>
				<li class="production__item">Барные столы и шкафы</li>
				<li class="production__item">Столы холодильные</li>
			</ul>
			<ul class="list-reset production__list">
				<li class="production__item">Машины холодильные</li>
				<li class="production__item">Камеры холодильные</li>
				<li class="production__item">Лари морозильные</li>
				<li class="production__item">
					Оборудование для магазиностроения
				</li>
			</ul>
			<ul class="list-reset production__list">
				<li class="production__item">Модульные стеллажные системы</li>
				<li class="production__item">Продуктоматы iCell</li>
				<li class="production__item">Термоконтейнеры FoodLine</li>
			</ul>
		</div>
	</div>
</section>
